<section class="homepage">
  <app-container>
    <h2>Móveis disponíveis</h2>
    <div class="card-wrapper">
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-2.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 2"
        preco="R$ 200">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-3.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 3"
        preco="R$ 300">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
      <app-card-busca
        src="assets/imagens/movel-1.jpg"
        alt="https://br.freepik.com/fotos-gratis/cozinha-pequena-com-design-moderno_59991550.htm#query=moveis&position=8&from_view=search&track=sph&uuid=4bedd751-82ba-4a76-bc0f-69553ed2767f"
        titulo="Cozinha 1"
        preco="R$ 100">
      </app-card-busca>
    </div>
  </app-container>
</section>
