.app-footer {
  // position: fixed;
  //  left: 0;
  //  bottom: 0;
   width: 100%;
   background-color: rgba(26, 25, 26, 0.922);
   color: rgb(210, 186, 140);
   text-align: center;
   height: 30px;
}
